<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db_groupwork.hotel.mapper.UnsubscribeMapper">
    <select id="isDeleteable" resultType="int">
        select count(bill_id)
        from bill
        where bill_id=#{billId} and customer_id=#{customerId} and can_delete=1
    </select>
    <update id="releaseRoom">
        update hotel_room
        set rest=rest+1
        where hotel_id=#{hotelId} and room_type=#{roomType}
    </update>
    <update id="backMoney">
        update customer
        set balance=balance+#{cost}
        where customer_id=#{customerId}
    </update>
    <update id="deleteBill">
        update bill
        set valid=0
        where bill_id=#{billId}
    </update>
</mapper>