<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zy.dao.UserMapper">
    <!-- 查询记录数 -->
    <select id="count" resultType="int">
        select count(1) from smbms_user
    </select>

    <!-- 查询所有用户 -->
    <select id="list" resultType="User">
        select * from smbms_user
    </select>
</mapper>