.head-sign-format{
    font-size: 36px;
}

.head-sign-format-mobile{
    font-size: 18px;
}

.carousel-format{
    font-size: 15px;
    line-height: 18px;
}

.main-content1{
    height: 300px;
    background: #ffcb1a;
}

.main-content2{
    height: 300px;
    background: #167fff;
}

.main-img{
    width: 100%;
}